[submodule "rust-abe"]
	path = rust-abe
	url = git@github.com:Fraunhofer-AISEC/rabe.git
[submodule "documentation/themes/hugo-material-docs"]
	path = docs/themes/hugo-material-docs
	url = git@github.com:digitalcraftsman/hugo-material-docs.git
